# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @vedant-test/infra

# Signal-collection module that collects local and remote signals
/signal-collection/ @vedant-test/infra @vedant-test/newPlatformTeam

# Group-matching module that collects local and remote signals
/group-matching/ @vedant-test/infra @vedant-test/platform
