name: APK size analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

env:
  apk_size_analysis_report_file: apk_size_analyis_report.html

jobs:
  apk_build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to head branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Setup Gradle & Android SDK Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            /usr/local/lib/android/sdk/build-tools
            /usr/local/lib/android/sdk/system-images
          key: ${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}

      - name: Build release APK
        run: |
          ./gradlew assembleRelease
          mv app/build/outputs/apk/release/app-release-unsigned.apk app/build/outputs/apk/release/release-base-apk.apk

      - name: Upload release APK
        uses: actions/upload-artifact@v3
        with:
          name: release-base-apk.apk
          path: app/build/outputs/apk/release/release-base-apk.apk

      - name: Build release APK for ARM64_V8A
        run: |
          ./gradlew assembleRelease -PtargetAbi=arm64-v8a
          mv app/build/outputs/apk/release/app-arm64-v8a-release-unsigned.apk app/build/outputs/apk/release/release-base-arm64-v8a-apk.apk

      - name: Upload release APK for ARM64_V8A
        uses: actions/upload-artifact@v3
        with:
          name: release-base-arm64-v8a-apk.apk
          path: app/build/outputs/apk/release/release-base-arm64-v8a-apk.apk
        
      
